@font-face {
  font-family: "Pony";
  src: local("Iciel Pony"), url(./fonts/Pony.ttf) format("truetype");
}

*,
body,
p {
  font-family: "Pony";
}

@keyframes animBauCua1608986988558 {
  0% {
    left: -50px;
  }
  25% {
    left: 50px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: 50px;
  }
}
.xucXac {
  left: 0px;
  position: relative;
  animation: animBauCua1608986988558 1s;
  animation-iteration-count: infinite;
}
